!!!
%html
  %head
    %title Wormbots - Automated worm farm
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js",
      :type => "text/javascript"}
    %script{:src => "/javascripts/app.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.timeago.js", :type => "text/javascript"}

  %body
    %h1 Automated worm farm
    #stats
      #worms
        %span.counter
        wormbots are alive and happy
      #time
        %span.timeago(title=@start_time)= @start_time
    #world
