!!!
%html
  %head
    %title Wormbots - Happy worm farm!
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet", :type => "text/css"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js",
      :type => "text/javascript"}
    %script{:src => "/javascripts/app.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.timeago.js", :type => "text/javascript"}

  %body
    %h1 Happy wormbots farm
    #stats
      #worms
        %span.counter
        worms are alive and happy
      #time
        %span.timeago(title=@start_time)= @start_time
    #world
