body {
  background: #6c6 url("../images/grass.jpg") repeat;
  opacity: 0.9;
}

h1 {
  text-align: center;
  margin: 0;
}

#world {
  position: relative;
  margin: 0 auto;
  width: 640px;
  height: 480px;
  border: 1px solid #000;
  background-color: #673520;
  border-radius: 5x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#world .point {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #c96064;
}

#world .point.fertile {
  background-color: #df3a01;
}

#world .point.dead {
  opacity: 0.5;
}

#world .head {
  background-color: #260506;
  z-index: 1;
}

#stats {
  border: 1px solid #000;
  background-color: #aaa;
  border-radius: 5x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;

  margin: 10px auto;
  width: 300px;
  padding: 5px 10px;
  text-align: center;
}
