body {
  background: #6c6 url("../images/grass.jpg") repeat;
}
h1 {
  text-align: center;
}
#world {
  position: relative;
  margin: 0 auto;
  width: 640px;
  height: 480px;
  border: 1px solid #000;
  background-color: #673520;
  border-radius: 5x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 8px 8px 15px #000;
}

#world .point {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #c96064;
}

#world .head {
  background-color: #260506;
  z-index: 1;
}
