body {
  background-color: #6c6;
}
h1 {
  text-align: center;
}
#world {
  position: relative;
  margin: 0 auto;
  width: 640px;
  height: 480px;
  border: 2px solid black;
  background-color: #5C1F00;
  border-radius: 5x;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#world .worm {
  display: none;
  position: absolute;
  height: 4px;
  background-color: #ffc;
}